<ion-view title="home" class="home fullIon">
  <ion-content>
    <ion-list class="col col-80 col-offset-10">
      <button class="button button-block button-positive" ui-sref="carSearch">
        Bíla Leit
      </button>
      <button class="button button-block button-positive" ui-sref="companySearch">
        Fyrirtækja Leit-NotReady
      </button>
      <button class="button button-block button-positive">
        Tónleikar-NotReady
      </button>
      <button class="button button-block button-positive">
        Sjónvarps Dagskrá-NotReady
      </button>
      <button class="button button-block button-positive">
        Lotto-NotReady
      </button>
      <button class="button button-block button-positive">
        Veður-NotReady
      </button>
    </ion-list>
  </ion-content>
</ion-view>
